:root {
  --branding-color: #f65282;
  --branding-background-color: #f4ebee;
  --primary-color: #f5f5f5;
  --secondary-color: #11111;
  --heading-font-family: "Playfair Display";
  --default-font-family: "Poppins";
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  background: var(--branding-background-color);
  padding: 20px;
  font-family: var(--default-font-family);
}

.hero {
  margin-top: 75px;
  background-color: var(--branding-background-color);
  text-align: center;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-color);
}
img {
  width: 300px;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  justify-items: center;
  filter: grayscale(100%);
}
img:hover {
  filter: none;
}
p {
  background: var(--secondary-color);
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
button {
  border: none;
}
.navigation-links {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.primary-button {
  border-radius: 10px;
  padding: 20px 15px;
  margin: 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  color: white;
  font-size: 16px;
}
.secondary-button {
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  text-decoration: none;
  margin: 20px;
  padding: 20px 15px;
  border-radius: 10px;
  font-size: 16px;
}
.home-page {
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 775px) {
  h1 {
    font-size: 38px;
    line-height: 1.5;
  }
  h2 {
    font-size: 28px;
    text-align: center;
  }
  h3 {
    font-size: 16px;
    text-align: center;
  }
  .primary-button {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 15px 10px;
  }
  .secondary-button {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 15px 10px;
  }
  .home-page img {
    margin-top: 50px;
  }
}
footer {
  margin-top: 100px;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.s-l {
  font-size: 28px;
  color: var(--branding-color);
  margin: 25px;
}
